<template>
  <v-container fluid>

    <v-row justify="center">
      <h1>Men's Decathlon points counter.</h1>
    </v-row>

    <v-row justify="center">
      <v-simple-table>
        <template v-slot:default>
          <thead>
          <tr>
            <th class="text-center">Event</th>
            <th class="text-center">Result</th>
            <th class="text-center">Points</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="e in events" :key="e.id">
            <td>{{ e.id }}. {{ e.name }} ({{ e.resultUnit }})</td>
            <td>
              <v-text-field v-model="results[e.id]" :background-color="e.type === 'fieldEvent' ? 'light-green' : 'deep-orange darken-1'" @input="calculatePoints(e.id)" hide-details dense outlined></v-text-field>
            </td>
            <td>
              <v-text-field v-model="points[e.id]" :background-color="e.type === 'fieldEvent' ? 'light-green' : 'deep-orange darken-1'" readonly hide-details dense outlined></v-text-field>
            </td>
            <td>
              <v-text-field style="width: 400px;" v-if="errors[e.id] !== ''" background-color="red" v-model="errors[e.id]" readonly hide-details dense outlined></v-text-field>
            </td>
          </tr>

          <tr class="text-right">
            <td colspan="2">
              <v-btn color="warning" @click="reset" _hide-details dark>Reset</v-btn>
            </td>
            <td>
              <v-text-field v-model="totalPoints" hide-details dense outlined></v-text-field>
            </td>
          </tr>

          </tbody>
        </template>
      </v-simple-table>
    </v-row>

  </v-container>
</template>

<style lang="sass">

.v-text-field__slot
  input
    text-align: right

th
  font-size: 16px !important
  color: black !important

</style>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'

import eventsModule from '@/store/modules/events'
import {Event} from '@/store/models';
import {getPoints} from "@/store/api";

@Component({
  components: {}
})
export default class Home extends Vue {

  private totalPoints = 0;

  private results: any = {
    1: '',
    2: '',
    3: '',
    4: '',
    5: '',
    6: '',
    7: '',
    8: '',
    9: '',
    10: '',
  }

  private points: any = {
    1: '',
    2: '',
    3: '',
    4: '',
    5: '',
    6: '',
    7: '',
    8: '',
    9: '',
    10: '',
  }

  private errors: any = {
    1: '',
    2: '',
    3: '',
    4: '',
    5: '',
    6: '',
    7: '',
    8: '',
    9: '',
    10: '',
  }

  private beforeMount() {
    eventsModule.getEvents();
  }

  private reset() {
    for (const id of Array(10).keys()) {
      this.results[id + 1] = ''
      this.points[id + 1] = ''
      this.errors[id + 1] = ''
      this.totalPoints = 0
    }
  }

  get events(): Event[] {
    return eventsModule._events;
  }

  calculatePoints(id: number) {
    console.log('calculatePoints', id, this.results[id]);

    getPoints({eventId: id, result: this.results[id]}).then((points) => {
      if (points !== undefined) {

        if (points.errorMsg === '') {
          this.errors[points.eventId] = '';
          this.points[id] = points.points;

          this.totalPoints = 0;

          for (const id of Array(10).keys()) {
            const _points = this.points[id + 1];
            this.totalPoints = this.totalPoints + (_points === '' ? 0 : _points);
          }
        } else {
          this.errors[points.eventId] = points.errorMsg;
        }

      }
    })
  }

}

</script>
